body{
    background-image: url("background.jpg");
}
root { 
    display: block;
}
input
{
    border: none;
    width:250px;
    height: 30px;
    background: transparent;
    font-size: 15px;
}
input[type="text"]
{
    font-size: 30px;
    border-bottom: 1px solid black;
    color: red;
}
input[type="password"]
{
    font-size: 30px;
    border-bottom: 1px solid black;
    color: red;
}
table{
    padding-top: 20px;
}
td
{
    font-size: 40px;
    padding: 5px;
    color: chocolate;
        
}
input[type="submit"]
{
    font-size: 20px;
    background: grey;
    border: 1px solid black;
    cursor: pointer
}
input[type="submit"]:hover
{
    background: grey;
    color:red;
}

#d1{
    background:  maroon;
    text-align: center; 
    font-size: 70px;
    color: gold;
}

#d2{
    padding-top: 20px;
    text-align: center; 
    font-size: 50px;
    color: Blue;
}

#d3{
     padding-top: 10px;
    text-align: center; 
    font-size: 20px;
    color: red;
}