root { 
    display: block;
}
body{
    background-image: url("background.jpg");
}
h1{
     background: maroon;
    text-align : center;
    Color : gold;
    font-size: 50px;
}

table{
    color:blue;
    
}
th{
    font-style: bold; 
    border-bottom: 1px solid;
}
td{
    border-bottom: 1px dashed;
}